[Unit]
Description=QR Code HTTP Camera Service
After=network.target

[Service]
Type=simple
User=cookies
SupplementaryGroups=video
WorkingDirectory=/home/cookies/qr-socket-server/single_camera
ExecStart=/home/cookies/qr-socket-server/env/bin/python3 /home/cookies/qr-socket-server/single_camera/qr_http_server.py --port 5050 --camera-index 0

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
